# Core packages
Flask
gunicorn
python-dotenv
pandas
numpy
scipy
opencv-python
pytesseract
matplotlib
seaborn
pillow

# ML / DL
torch
torchvision
torchaudio
tensorflow
keras

# Tracking + Computer Vision
mediapipe
deep-sort-realtime
ultralytics

# Web & API
fastapi
uvicorn
httpx
starlette

# Utility
python-multipart
requests
tqdm

# Optional: for transformers
transformers
huggingface-hub

# Optional visualization & logging
rich
tensorboard

